<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css">
</head>
<body>

  <main>
    <section class="boletim">
      <div class="container">
        <header>
          <figure class="logo">
            <img src="./logo-brasao.png" alt="Prefeitura">
          </figure>
          <div class="titulo">
            <h1>Prefeitura Municipal de Arapiraca</h1>
            <h2>Boletim de Movimentação de Bens Patrimoniais</h2>
          </div>
        </header>
        <table class="table lista-patrimonios">
          <thead>
            <tr>
              <th>Nº Patrimonio</th>
              <th>Especificaçao (Marca, Modelo, Nº Serie, ETC. ...)</th>
            </tr>
          </thead>
          <tbody class="patrimonio">
            <tr>
              <td>123456</td>
              <td>Patrimonio de teste.</td>
            </tr>
            <tr>
              <td>123456</td>
              <td>Patrimonio de teste.</td>
            </tr>
            <tr>
              <td>123456</td>
              <td>Patrimonio de teste.</td>
            </tr>
          </tbody>
          <tbody id="local">
            <tr>
              <th>
                <h1>Origem</h1>
              </th>
              <td>
                <label>(Nome da divisão)</label>
                <input type="text" value="Origem de teste">
              </td>
            </tr>
            <tr>
              <th>
                <h1>Destino</h1>
              </th>
              <td>
                <label>(Nome da divisão)</label>
                <input type="text" value="Origem de teste">
              </td>
            </tr>
          </tbody>
        </table>
        <section class="responsavel">
          <div class="origem">
            <h1>Origem</h1>
            <p><span>Nome</span>: Flávio Henrique Nunes Leite </p>
            <p><span>CPF</span>: 105.123.104-32 </p>
            <p><span>Data</span>: 21/01/2020 </p>
          </div>
        
          <div class="destino">
            <h1>Destino</h1>
            <p><span>Nome</span>: Flávio Henrique Nunes Leite </p>
            <p><span>CPF</span>: 105.123.104-32 </p>
            <p><span>Data</span>: 21/01/2020 </p>
          </div>
        </section>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>